nav {
	margin-bottom: 20px;
}

.home_nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}

.nav_icon-dark {
	background: transparent;
	border: none;
	color: var(--color-darkBlue);
	font-size: 1.6rem;
	transition: var(--transition);
}

.nav_icon-dark:hover {
	transform: rotate(90deg);
}
.nav_icon-white:hover {
	color: var(--color-primary);
}

.nav_icon-white {
	background: transparent;
	border: none;
	color: var(--color-white);
	font-size: 1.6rem;
}
.nav_icon-gold {
	background: transparent;
	border: none;
	color: var(--color-primary);
	font-size: 1.6rem;
}

.nav_links {
	display: none;
}

.nav_links a {
	font-size: 1rem;
}

.nav_links a:hover {
	color: var(--color-primary);
	font-weight: bold;
	/* font-size: 1.2rem; */
}

.home_nav img {
	width: 200px;
	margin: 0 20px;
}

.nav_container {
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	padding: 20px;
	background: var(--color-darkBlue);
	transition: var(--transition);
	transform: translateX(100%);
	z-index: 999;
}

.nav_container a {
	color: var(--color-white);
	font-size: 1.3rem;
}

.nav_container button {
	background: transparent;
	border: none;
	color: var(--color-white);
	font-size: 1.6rem;
}

.show_nav_container {
	transform: translateX(0%);
}

.nav_containerLinks {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	/* height: 300px; */
	padding-top: 30px;
	/* width: 100%; */
	transition: var(--transition);
}

.nav_containerLinks li {
	width: 100%;
}

.nav_containerLinks a {
	width: 100%;
	height: 80px;
	display: grid;
	align-items: center;
}

.nav_containerLinks a:hover {
	/* background: var(--color-primary); */
	font-size: 1.5rem;
	/* padding-left: 20px; */
	font-weight: bold;
}

@media screen and (min-width: 540px) {
	.home_nav {
		justify-content: center;
	}

	.home_nav img {
		margin: 0 40px;
	}
	.nav_links {
		display: flex;
		justify-content: space-between;
		width: 150px;
	}

	.nav_icon-dark {
		display: none;
	}
}

@media screen and (min-width: 800px) {
	.home_nav img {
		width: 300px;
	}
}

@media screen and (min-width: 1200px) {
	.home_nav img {
		width: 400px;
		margin: 0 100px;
	}

	.nav_links {
		width: 200px;
	}

	.nav_links a {
		font-size: 1.2rem;
	}
}
