.App {
	text-align: center;
}

/* <<<<<<<<<<<< NAV BAR >>>>>>>>>>>>>>>>>>>>>>>>>> */

.App_navBar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin-bottom: 20px;
}

.navBar_links {
	width: 200px;
	display: flex;
	justify-content: space-between;
	border: 1px solid red;
}

.navBar_logoContainer {
	width: 500px;
	margin: 0px 100px;
}

.navBar_logoContainer img {
	width: 100%;
}

/* <<<<<<<<<<<< NAV BAR >>>>>>>>>>>>>>>>>>>>>>>>>> */

/* <<<<<<<<<<<<       HERO      >>>>>>>>>>>>>>>>>>>>>>>>>> */

.App_hero {
	/* position: relative; */
	/* display: flex; */
	/* height: 700px; */
	/* align-items: center; */
	/* justify-content: center; */
}

.hero_imageContainer {
	width: 100%;
	margin: 0;
	position: relative;
	display: flex;
	justify-content: center;
}

.hero_imageContainer img {
	width: 100%;
}

.hero_text {
	position: absolute;
}
/* <<<<<<<<<<<<       HERO      >>>>>>>>>>>>>>>>>>>>>>>>>> */
