:root {
	--color-primary: #af7213;
	--color-dark: #19191a;
	--color-grey: #a8a8a8;
	--color-white: #fff;
	--color-black: #000;

	--color-darkBlue: #000d43;
	--color-darkBlue-opacity60: rgba(0, 13, 67, 0.63);

	--transition: all 0.3s linear;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button,
input {
	font-family: "Quicksand", sans-serif;
}

button {
	cursor: pointer;
}

figure,
p {
	margin: 0;
}

img {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 300;
}

body {
	line-height: 1.5;
	font-size: 0.875rem;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}

.App {
	position: relative;
	overflow: hidden;
}

/* <<<<<<<<<<<<<<<<<----GENERAL CLASES------>>>>>>>>>>>>>> */

.sectionTitle {
	font-size: 2rem;
	color: var(--color-darkBlue);
	margin: 20px 0;
}

@media screen and (min-width: 540px) {
	.sectionTitle {
		font-size: 3rem;
	}
}

@media screen and (min-width: 800px) {
	.sectionTitle {
		font-size: 4rem;
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 1000px) {
	.sectionTitle {
		font-size: 5rem;
		margin-bottom: 50px;
	}
}

@media screen and (min-width: 1200px) {
	.sectionTitle {
		font-size: 7rem;
	}
}
@media screen and (min-width: 2000px) {
	.sectionTitle {
		font-size: 10rem;
	}
}
@media screen and (min-width: 2400px) {
	.sectionTitle {
		font-size: 12rem;
	}
}

/* <<<<<<<<<<<<<<<<<----GENERAL CLASES------>>>>>>>>>>>>>> */
