:root {
	--color-primary: #af7213;
	--color-darkBlue: #000d43;
	--color-dark: #19191a;
	--color-grey: #a8a8a8;
	--color-white: #fff;
	--color-black: #000;

	--transition: all 0.3s linear;
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body,
button,
input {
	font-family: "Quicksand", sans-serif;
}

button {
	cursor: pointer;
}

figure,
p {
	margin: 0;
}

img {
	width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-weight: 300;
}

body {
	line-height: 1.5;
	font-size: 0.875rem;
}

ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
